<nav aria-label="breadcrumb" class="breadcrumb wrapper">
    <ol class="list breadcrumb__list" role="list">
        <li class="breadcrumb__item">
            <a class="link" href="./home.html">Home</a>
        </li>

        <li class="breadcrumb__item">
            <a class="link" href="./women.html">Women</a>
        </li>

        <li class="breadcrumb__item breadcrumb__item--active">
            <a class="link" href="#" aria-current="page">White unisex t-shirt</a>
        </li>
    </ol>
</nav>