/**
 * Footer block
 */
.footer {
  max-width: 81rem;
  padding-top: 5rem;
  padding-bottom: 2.0625rem;
  text-align: center;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 3rem 9.75rem;
  }

  &__section {
    line-height: var(--line-height-xl);
    letter-spacing: var(--spacing-secondary);
    color: var(--font-color-neutral);
  }

  &__heading {
    font-size: var(--font-xs);
    line-height: var(--line-height-lg);
    color: var(--font-color-dark);
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  &__address {
    font-style: normal;
  }

  &__socials {
    margin-top: 1.1563rem;
    padding-left: 0.4763rem;
    justify-content: center;
  }

  &__copyrights {
    font-size: var(--font-md);
    color: var(--font-color-neutral);
    display: block;
    margin-top: 5.75rem;
  }
}

@media only screen and (min-width: 480px) {
  .footer {
    text-align: initial;

    &__container {
      flex-flow: row wrap;
    }

    &__socials {
      justify-content: flex-start;
    }
  }
}

/**
 * Socials block
 */
.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 1.625rem;
}
