/**
 * Header block
 */
.header {
  max-width: 84rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.25rem;
  letter-spacing: var(--spacing-primary);

  &__navigation--primary {
    order: 2;
  }

  &__navigation--secondary {
    order: 3;
  }

  &__list {
    display: flex;
    flex-flow: column wrap;
    gap: 2.25rem;
    text-align: center;
  }

  &__logo {
    order: 1;
  }
}

@media only screen and (min-width: 480px) {
  .header__list { /* stylelint-disable-line */
    flex-direction: row;
    justify-content: center;
    text-align: initial;
  }
}

@media only screen and (min-width: 960px) {
  .header {
    flex-direction: row;

    &__logo {
      order: initial;
    }

    &__navigation {
      order: initial;
      width: 100%;
    }

    &__list--primary {
      justify-content: flex-start;
    }

    &__list--secondary {
      justify-content: flex-end;
    }
  }
}

/**
 * Breadcrumb block
 */
.breadcrumb {
  max-width: 84rem;
  margin-top: 1.25rem;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    font-size: var(--font-xxs);

    &::after {
      content: '';
      width: 0.375rem;
      height: 0.8125rem;
      background-image: url('https://yury-andrush-develop.netlify.app/assets/images/icons/slash.svg');
      margin-left: 0.625rem;
      margin-right: 0.5rem;
    }

    &--active {
      color: var(--font-color-light);

      &::after {
        display: none;
      }
    }
  }
}
