/**
 * Aside block
 */
.aside {
  max-width: 76rem;
  margin-top: 6.25rem;
  margin-bottom: 6.75rem;

  &__heading {
    font-size: var(--font-xxl);
    color: var(--font-color-accent);
    letter-spacing: var(--spacing-primary);
    text-align: center;
    margin-bottom: 4rem;
  }
}

/**
 * Cards block
 */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, max-content));
  grid-gap: 4rem;
  justify-content: center;

  @media only screen and (min-width: 960px) {
    justify-content: initial;
  }
}
