{%- if section.settings.product_collection != blank -%}
    <aside aria-labelledby="heading-secondary" class="aside wrapper">
        {%- if section.settings.recommendation_heading != blank -%}
            <h2 id="heading-secondary" class="heading aside__heading">     
                {{ section.settings.recommendation_heading}}
            </h2>
        {%- endif -%}

        <ul class="list cards" role="list">
            {%- for recommendation in section.settings.product_collection.products limit: section.settings.product_quantity -%}
                {% render 'alternate-product-card', recommendation: recommendation %}
            {%- endfor -%}
        </ul>
    </aside>
{%- endif -%}

{% schema %}
  {
    "name": "Alternate-recommendations",
    "settings": [
      {
        "type": "text",
        "id": "recommendation_heading",
        "label": "Заголовок"
      },

      {
        "type": "collection",
        "id": "product_collection",
        "label": "Коллекция"
      },

      {
        "type": "range",
        "id": "product_quantity",
        "min": 3,
        "max": 6,
        "step": 1,
        "label": "Лимит продуктов для отображения",
        "default": 3
      }
    ],

    "presets": [
      {
        "name": "alternate-recommendations"
      }
    ]
  }
{% endschema %}
