<hr class="break" />

<footer class="footer wrapper">
    {%- if section.blocks.size > 0 -%}
        <div class="footer__container">
            {% liquid
                for block in section.blocks
                    case block.type
                        when 'About'
                            render 'alternate-footer-(footer-about)', block: block
                        when 'Menu'
                            render 'alternate-footer-(footer-menu)', block: block
                    endcase
                endfor
            %}  
        </div>
    {%- endif -%}

    <small class="footer__copyrights">© Susparsa 2021</small>
</footer>

{% schema %}
  {
    "name": "footer",
    "max_blocks": 4,
    "blocks": [
      {
        "type": "About",
        "name": "about",
        "settings" : [
          {
            "type": "text",
            "id": "footer_about_heading",
            "label": "Заголовок"
          },

          {
            "type": "richtext",
            "id": "footer_about_text",
            "label": "Текст"
          },

          {
            "type": "text",
            "id": "footer_about-facebook",
            "label": "FB"
          },

          {
            "type": "text",
            "id": "footer_about-instagram",
            "label": "Instagram"
          }
        ]
      },

      {
        "type": "Menu",
        "name": "menu",
        "settings" : [
          {
            "type": "text",
            "id": "footer_menu_heading",
            "label": "Заголовок"
          },

          {
            "type": "link_list",
            "id": "footer_menu_list",
            "label": "Меню"
          }
        ]
      }   
    ]
  }
{% endschema %}
