{%- if section.settings.product_collection != blank -%}
    <aside class="aside wrapper">
        <h2 class="heading aside__heading">     
            {{ section.settings.recommendation_heading | default: 'You may also like.' }}
        </h2>

        <ul class="list cards" role="list">
            {% liquid
                assign count = 0
                 
                for recommendation in section.settings.product_collection.products
                    if count == section.settings.product_quantity 
                        break 
                    endif

                    if recommendation.id != product.id 
                        render 'alternate-product-card', recommendation: recommendation
                        assign count = count | plus: 1
                    endif 
                endfor
            %} 
        </ul>
    </aside>
{%- endif -%}

{% schema %}
  {
    "name": "Alternate-recommendations",
    "settings": [
      {
        "type": "text",
        "id": "recommendation_heading",
        "label": "Заголовок"
      },

      {
        "type": "collection",
        "id": "product_collection",
        "label": "Коллекция"
      },

      {
        "type": "range",
        "id": "product_quantity",
        "min": 3,
        "max": 6,
        "step": 1,
        "label": "Лимит продуктов для отображения",
        "default": 3
      }
    ],

    "presets": [
      {
        "name": "alternate-recommendations"
      }
    ]
  }
{% endschema %}
