<div style="background-color: green; padding: 2rem">
  <h4>My test section. With presets</h4>
</div>

{% schema %}
  {
    "name": "Test presets",
    "presets": [
      {
        "name": "Test presets"
      }
    ]
  }
{% endschema %}
