<div style="background-color: red; padding: 2rem">
  <h2>My test section. Fully static for now</h2>
</div>

{% schema %}
  {
    "name": "Test", 
    "tag": "header",
    "class": "link heading"
  }
{% endschema %}
